# Pandas challenges

Read the `vehicles.csv` dataframe and store it in a variable called `cars`:

In [4]:
import os 
os.getcwd()

'/Users/katiamarinelli/wbs-bootcamp-data-science/pandas-platform-files'

In [71]:
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/katsinseas/wbs-bootcamp-data-science/main/pandas-platform-files/vehicles.csv')
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

Explore the dataset:

- How many rows and columns are there?

- What are the data types of the columns?

- Are there missing values?

- What are the ranges / distributions of the numerical columns?

- What are the value counts for the categorical columns?

In [6]:
# code here
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [21]:
print(cars.columns)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

> 15 columns and 35952 columns

In [7]:
cars.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [31]:
cars['Vehicle Class'].value_counts()

Compact Cars                          5185
Subcompact Cars                       4374
Midsize Cars                          4063
Standard Pickup Trucks                2311
Sport Utility Vehicle - 4WD           2081
Two Seaters                           1784
Large Cars                            1742
Sport Utility Vehicle - 2WD           1615
Special Purpose Vehicles              1404
Small Station Wagons                  1371
Minicompact Cars                      1212
Standard Pickup Trucks 2WD            1141
Vans                                  1121
Standard Pickup Trucks 4WD             959
Midsize-Large Station Wagons           633
Special Purpose Vehicle 2WD            581
Small Pickup Trucks                    524
Small Sport Utility Vehicle 4WD        494
Vans, Cargo Type                       432
Midsize Station Wagons                 416
Standard Sport Utility Vehicle 4WD     409
Small Pickup Trucks 2WD                401
Small Sport Utility Vehicle 2WD        374
Minivan - 2WD                          331
Vans, Passenger Type                   301
Special Purpose Vehicle 4WD            256
Small Pickup Trucks 4WD                200
Standard Sport Utility Vehicle 2WD     179
Minivan - 4WD                           47
Standard Pickup Trucks/2wd               4
Vans Passenger                           2
Special Purpose Vehicles/2wd             2
Special Purpose Vehicles/4wd             2
Special Purpose Vehicle                  1
Name: Vehicle Class, dtype: int64

In [15]:
cars.value_counts()

Make           Model               Year  Engine Displacement  Cylinders  Transmission     Drivetrain                  Vehicle Class                Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
smart          fortwo coupe        2016  0.9                  3.0        Manual 5-spd     Rear-Wheel Drive            Two Seaters                  Premium    9.417429           32        39           35            255.000000               1150              1
Ford           E250 Econoline 2WD  1998  4.2                  6.0        Automatic 4-spd  Rear-Wheel Drive            Vans, Cargo Type             Regular    21.974000          13        17           15            592.466667               2200              1
                                   2001  4.2                  6.0        Automatic 4-spd  Rear-Wheel Drive            Vans, Cargo Type             Regular    23.543571          13        18           14            634.785714               2400              1
                                   2000  5.4                  8.0        Automatic 4-spd  Rear-Wheel Drive            Vans, Cargo Type             Regular    25.354615          12        17           13            683.615385               2550              1
                                         4.2                  6.0        Automatic 4-spd  Rear-Wheel Drive            Vans, Cargo Type             Regular    23.543571          12        16           14            634.785714               2400              1
                                                                                                                                                                                                                                                                ..
Mercedes-Benz  E500                2005  5.0                  8.0        Automatic 7-spd  Rear-Wheel Drive            Midsize Cars                 Premium    18.311667          15        23           18            493.722222               2250              1
                                   2006  5.0                  8.0        Automatic 7-spd  Rear-Wheel Drive            Midsize Cars                 Premium    18.311667          15        23           18            493.722222               2250              1
               E500 (Wagon)        2004  5.0                  8.0        Automatic 7-spd  Rear-Wheel Drive            Midsize Station Wagons       Premium    19.388824          14        22           17            522.764706               2400              1
               E500 4matic         2004  5.0                  8.0        Automatic 5-spd  4-Wheel or All-Wheel Drive  Midsize Cars                 Premium    20.600625          14        19           16            555.437500               2550              1
AM General     DJ Po Vehicle 2WD   1984  2.5                  4.0        Automatic 3-spd  2-Wheel Drive               Special Purpose Vehicle 2WD  Regular    19.388824          18        17           17            522.764706               1950              1
Length: 35952, dtype: int64

Drop the column "Combined MPG"

In [63]:
# code here
cars_drop = cars.drop(columns=['Combined MPG'])
cars_drop.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,555.437500,2100

Change column names so that there are no names with spaces or weird special characters:

In [28]:
# code here
cars_drop.apply()

What brand has the most cars?

In [76]:
cars_brand = cars['Make'].value_counts()
cars_brand.head(50)

Chevrolet            3643
Ford                 2946
Dodge                2360
GMC                  2347
Toyota               1836
BMW                  1677
Mercedes-Benz        1284
Nissan               1253
Volkswagen           1047
Mitsubishi            950
Mazda                 915
Audi                  890
Porsche               862
Honda                 836
Jeep                  829
Pontiac               784
Subaru                781
Volvo                 717
Hyundai               662
Chrysler              641
Buick                 537
Mercury               532
Suzuki                512
Cadillac              508
Kia                   493
Plymouth              456
Saab                  410
Isuzu                 409
Lexus                 397
Oldsmobile            376
Infiniti              345
Jaguar                343
MINI                  320
Acura                 302
Saturn                278
Lincoln               273
Ferrari               208
Rolls-Royce           160
Eagle                 156
Geo                   144
Land Rover            142
Aston Martin          133
Bentley               116
Maserati              111
Lamborghini           104
Scion                  83
Peugeot                74
Daewoo                 67
Ram                    57
Roush Performance      53
Name: Make, dtype: int64

In [78]:
cars.groupby(['Make']).count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the worse CO2 Emissions on average?

In [92]:
# code here
min_co2 = cars['CO2 Emission Grams/Mile'].min()
print(min_co2)
max_co2 = cars['CO2 Emission Grams/Mile'].max()
print(max_co2)

37.0
1269.5714285714287

Which brands are more environment friendly?

In [ ]:
# code here

Create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [ ]:
# code here

Did cars consume more gas in the eighties?

In [6]:
# code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [8]:
# code here
# in the next notebook, we will learn how we can clean the "Trans" column

Group cars by fuel type and aggregate them by the following criteria: 

- The maximum number cylinders
- The oldest year
- The average Miles Per Gallon in the city

In [9]:
# code here

We want to use "Drivetrain" in a statistical model. Convert the column to numeric.

In [ ]:
# code here

Read the `car_brands.csv` data:

In [30]:
# code here
df = pd.read_csv('car_brands.csv')
df

                           brand  revenue  production
0                     AM General     1537    1.002916
1               ASC Incorporated      232    1.628105
2                          Acura      234    3.394481
3                     Alfa Romeo     1174    2.313726
4    American Motors Corporation     1230    1.231024
..                           ...      ...         ...
122                   Volkswagen      273    1.033316
123                        Volvo     1312    0.057454
124        Wallace Environmental      277    5.744609
125                         Yugo      508    0.520953
126                        smart      447    2.229253

[127 rows x 3 columns]

In [40]:
df.brand

0                       AM General
1                 ASC Incorporated
2                            Acura
3                       Alfa Romeo
4      American Motors Corporation
                  ...
122                     Volkswagen
123                          Volvo
124          Wallace Environmental
125                           Yugo
126                          smart
Name: brand, Length: 127, dtype: object

Join the cars dataframe with the car brands dataframe.

In [103]:
# code here
joint_data = cars.join(df.set_index('brand'), on='Make')
joint_data

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,revenue,production
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,1537,1.002916
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1537,1.002916
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,1537,1.002916
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1537,1.002916
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,232,1.628105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,447,2.229253
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,447,2.229253
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,447,2.229253
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,447,2.229253
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,447,2.229253

Which brands have the most revenue?

In [105]:
# code here

joint_data.sort_values('revenue', ascending=False)

#df.sort_values('revenue', ascending=False)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,revenue,production
16853,Geo,Tracker Convertible 4WD,1990,1.6,4.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,14.982273,21,23,22,403.954545,1500,1988,1.100770
16871,Geo,Tracker Van 2WD,1996,1.6,4.0,Manual 5-spd,Rear-Wheel Drive,Special Purpose Vehicles,Regular,14.982273,21,24,22,403.954545,1500,1988,1.100770
16855,Geo,Tracker Convertible 4WD,1991,1.6,4.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,15.695714,20,22,21,423.190476,1600,1988,1.100770
16856,Geo,Tracker Convertible 4WD,1991,1.6,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,14.330870,22,24,23,386.391304,1450,1988,1.100770
16857,Geo,Tracker Convertible 4WD,1992,1.6,4.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,15.695714,20,22,21,423.190476,1600,1988,1.100770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,Audi,A4 quattro,2001,2.8,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Compact Cars,Premium,18.311667,16,23,18,493.722222,2250,18,0.814725
800,Audi,A4 quattro,2001,2.8,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,17.347895,16,22,19,467.736842,2150,18,0.814725
799,Audi,A4 quattro,2001,1.8,4.0,Automatic (S5),4-Wheel or All-Wheel Drive,Compact Cars,Premium,16.480500,18,25,20,444.350000,2000,18,0.814725
798,Audi,A4 quattro,2001,1.8,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,14.982273,19,27,22,403.954545,1850,18,0.814725
1111,Audi,Q7,2007,4.2,8.0,Automatic (S6),4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,23.543571,12,17,14,634.785714,2900,18,0.814725